<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wigo.cmm.sys.dao.CommonDao">
    <sql id="pagingHeader">
SELECT T.*
     , #{offsetRecordIndex} + (@rownum := @rownum+1) AS  ROW_INDEX
  FROM ( 
    </sql>
    <sql id="pagingFooter">
          ) T ,(SELECT @rownum :=0) AS R
          LIMIT #{recordCountPerPage} OFFSET #{offsetRecordIndex}
<!--  WHERE   T.ROW_INDEX BETWEEN IFNULL(#{firstRecordIndex},1) AND IFNULL(#{lastRecordIndex},30) -->
    </sql>
 
</mapper>