<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wigo.cmm.sys.dao.ApiInfoBaseDao">
    <sql id="sqlPkConditions">
                WHERE API_ID            =       #{apiId}
    </sql>
    <sql id="sqlCols">
                      API_ID                    /*API코드        */
                    , SYS_CD                    /*시스템코드        */
                    , API_NM                    /*API명        */
                    , API_URL                    /*APIURL        */
                    , CALL_MTHD_CD                    /*호출메쏘드코드        */
                    , API_AUTH_YN                    /*API권한여부        */
                    , USE_YN                    /*사용여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
         <where>
        <if test="apiId != null and apiId != ''">
            <choose>
                <when test="apiId instanceof String">
                              AND API_ID            =       #{apiId}
                </when>
                <otherwise>
                    AND API_ID            IN
                    <foreach item="item" index="index" collection="apiId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="sysCd != null and sysCd != ''">
            <choose>
                <when test="sysCd instanceof String">
                              AND SYS_CD            =       #{sysCd}
                </when>
                <otherwise>
                    AND SYS_CD            IN
                    <foreach item="item" index="index" collection="sysCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="apiUrl != null and apiUrl != ''">
                      AND API_URL           =       #{apiUrl}
        </if>
        <if test="apiUrlLike != null and apiUrlLike != ''">
                      AND API_URL           LIKE  CONCAT( '%'  ,  #{apiUrlLike} , '%' )
        </if>
        
        <if test="callMthdCd != null and callMthdCd != ''">
            <choose>
                <when test="callMthdCd instanceof String">
                              AND CALL_MTHD_CD      =       #{callMthdCd}
                </when>
                <otherwise>
                    AND CALL_MTHD_CD      IN
                    <foreach item="item" index="index" collection="callMthdCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="apiAuthYn != null and apiAuthYn != ''">
                      AND API_AUTH_YN       =       #{apiAuthYn}
        </if>
        <if test="useYn != null and useYn != ''">
                      AND USE_YN            =       #{useYn}
        </if>
        <if test="reqUrl != null and reqUrl != '' " >
                    AND USE_YN = 'Y'
                    AND API_URL =  #{reqUrl}
        </if>
        <if test="apiNm != null and apiNm != ''">
                      AND API_NM           LIKE  CONCAT( '%'  ,   #{apiNm} , '%' )
        </if>
        </where>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.wigo.cmm.sys.dao.ApiInfoBaseDao.selectListCount */ COUNT(1)
                 FROM TB_SYS_API_INFO_BAS
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.wigo.cmm.sys.model.ApiInfoBaseVo">
        <include refid="com.wigo.cmm.sys.dao.CommonDao.pagingHeader"/>
               SELECT /* com.wigo.cmm.sys.dao.ApiInfoBaseDao.selectList */ <include refid="sqlCols"/>
                 FROM TB_SYS_API_INFO_BAS
        <include refid="sqlConditions"/>
               ORDER BY SYS_CD
                   , API_URL
                   , CALL_MTHD_CD
                   , USE_YN DESC
                   
        <include refid="com.wigo.cmm.sys.dao.CommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.wigo.cmm.sys.model.ApiInfoBaseVo">
               SELECT /* com.wigo.cmm.sys.dao.ApiInfoBaseDao.select */<include refid="sqlCols"/>
                 FROM TB_SYS_API_INFO_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.wigo.cmm.sys.dao.ApiInfoBaseDao.insert */ INTO TB_SYS_API_INFO_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       IFNULL(#{apiId},FN_CRM_AUTO_SEQ('API'))
                     , #{sysCd}
                     , #{apiNm}
                     , #{apiUrl}
                     , #{callMthdCd}
                     , #{apiAuthYn}
                     , #{useYn}
                     , #{regrId}
                     , current_timestamp()
                     , #{amdrId}
                     , current_timestamp()
                 )
    </insert>
    <update id="update">
               UPDATE /* com.wigo.cmm.sys.dao.ApiInfoBaseDao.update */ TB_SYS_API_INFO_BAS
                  SET SYS_CD              =         #{sysCd}
                    , API_NM              =         #{apiNm}
                    , API_URL             =         #{apiUrl}
                    , CALL_MTHD_CD        =         #{callMthdCd}
                    , API_AUTH_YN         =         #{apiAuthYn}
                    , USE_YN              =         #{useYn}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         current_timestamp()
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.wigo.cmm.sys.dao.ApiInfoBaseDao.delete */ 
                 FROM TB_SYS_API_INFO_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
