<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wigo.cmm.sys.dao.ChngHstDao">
    <sql id="sqlPkConditions">
                WHERE CHNG_HST_ID       =       #{chngHsId}
    </sql>
    <sql id="sqlCols">
                      CHNG_HST_ID                    /*변경이력코드        */
                    , MENU_ID                    /*메뉴코드        */
                    , CHNG_CALL_URL                    /*변경호출URL        */
                    , CHNG_RSLT_TXN                    /*변경결과내역        */
                    , CHNG_PARAM_TXN                    /*변경파라미터내역        */
                    , CHNG_CALL_TXN                    /*변경호출내역        */
                    , CHNG_CALL_DT                    /*변경호출일시        */
                    , CHNG_EXEC_MSEC                    /*변경실행밀리초        */
                    , CHNG_CALL_IP_ADDR                    /*변경호출IP주소        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
         <where>
        <if test="chngHsId != null and chngHsId != ''">
            <choose>
                <when test="chngHsId instanceof String">
                              AND A.CHNG_HST_ID       =       #{chngHsId}
                </when>
                <otherwise>
                    AND A.CHNG_HST_ID       IN
                    <foreach item="item" index="index" collection="chngHsId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="menuId != null and menuId != ''">
            <choose>
                <when test="menuId instanceof String">
                              AND A.MENU_ID           =       #{menuId}
                </when>
                <otherwise>
                    AND A.MENU_ID           IN
                    <foreach item="item" index="index" collection="menuId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="chngCallUrl != null and chngCallUrl != ''">
                      AND A.CHNG_CALL_URL     =       #{chngCallUrl}
        </if>
        <if test="chngCallDt != null and chngCallDt != ''">
                      AND A.CHNG_CALL_DT      =       #{chngCallDt}
        </if>
        <if test="chngExecMsec != null and chngExecMsec != ''">
                      AND A.CHNG_EXEC_MSEC    =       #{chngExecMsec}
        </if>
        <if test="chngCallIpAddr != null and chngCallIpAddr != ''">
                      AND A.CHNG_CALL_IP_ADDR =       #{chngCallIpAddr}
        </if>
        
        
         <if test="strtDt != null and strtDt != ''">
                      AND A.CHNG_CALL_DT      >=       STR_TO_DATE(#{strtDt},'%Y%m%d')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND STR_TO_DATE(#{endDt},'%Y%m%d') + 1 > A.CHNG_CALL_DT
        </if>
        <if test="loginIdLike != null and loginIdLike != ''">
                      AND C.LOGIN_ID         LIKE  CONCAT( '%' ,  #{loginIdLike} ,'%')
        </if>
        <if test="userNmLike != null and userNmLike != ''">
                      AND C.USER_NM          LIKE  CONCAT( '%' ,  #{userNmLike} ,'%')
        </if>
        <if test="menuNmLike != null and menuNmLike != ''">
                      AND B.MENU_NM          LIKE   CONCAT('%' ,  #{menuNmLike} ,'%')
        </if>
        <if test="chngCallUrlLike != null and chngCallUrlLike != ''">
                      AND A.CHNG_CALL_URL     LIKE  CONCAT( '%' , #{chngCallUrlLike} ,'%')
        </if>
        </where>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.wigo.cmm.sys.dao.ChngHstDao.selectListCount */ COUNT(1)
                 FROM TB_SYS_CHNG_HST A
                INNER JOIN TB_SYS_MENU_BAS B ON A.MENU_ID = B.MENU_ID
                INNER JOIN TB_SYS_USER_BAS C ON A.REGR_ID = C.USER_ID
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.wigo.cmm.sys.model.ChngHstVo">
        SELECT /* com.wigo.cmm.sys.dao.ChngHstDao.selectList */ A.* 
             , ( 
         WITH RECURSIVE MM AS (
     SELECT 1 AS LEVEL 
          , MENU_NM  MENU_PATH
          , M.MENU_ID
          , M.MENU_NM
          , M.PRNTS_MENU_ID
          , M.MENU_LVL_NO
        FROM tb_sys_menu_bas M
      WHERE MENU_LVL_NO = 2 
     UNION ALL
     SELECT level + 1 AS level 
          , CONCAT( MENU_PATH,'>',M.MENU_NM) MENU_PATH
          , M.MENU_ID
          , M.MENU_NM
          , M.PRNTS_MENU_ID
          , M.MENU_LVL_NO
        FROM MM 
        INNER JOIN tb_sys_menu_bas M ON MM.MENU_ID= M.PRNTS_MENU_ID 
  )
  SELECT MENU_PATH FROM MM
        WHERE MENU_ID = A.MENU_ID
                ) MENU_PATH
        FROM (
        <include refid="com.wigo.cmm.sys.dao.CommonDao.pagingHeader"/>
               SELECT A.CHNG_HST_ID                    /*변경이력코드        */
                    , A.MENU_ID                    /*메뉴코드        */
                    , A.CHNG_CALL_URL                    /*변경호출URL        */
                    <if test="!'Y'.toString().equals(excelMode)" >
                    , A.CHNG_RSLT_TXN                    /*변경결과내역        */
                    , A.CHNG_PARAM_TXN                    /*변경파라미터내역        */
                    , A.CHNG_CALL_TXN                    /*변경호출내역        */
                    </if>
                    , A.CHNG_CALL_DT                    /*변경호출일시        */
                    , A.CHNG_EXEC_MSEC                    /*변경실행밀리초        */
                    , A.CHNG_CALL_IP_ADDR                    /*변경호출IP주소        */
                    , A.REGR_ID                    /*등록자ID        */
                    , A.REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , A.AMD_DT                    /*수정일시        */
                    , B.MENU_NM
                    , C.USER_ID
                    , C.USER_NM
                    , C.LOGIN_ID
                 FROM TB_SYS_CHNG_HST A
                INNER JOIN TB_SYS_MENU_BAS B ON A.MENU_ID = B.MENU_ID
                INNER JOIN TB_SYS_USER_BAS C ON A.REGR_ID = C.USER_ID
        <include refid="sqlConditions"/>
               ORDER BY REG_DT DESC
        <include refid="com.wigo.cmm.sys.dao.CommonDao.pagingFooter"/>
        ) A
    </select>
    <select id="select" resultType="com.wigo.cmm.sys.model.ChngHstVo">
               SELECT /* com.wigo.cmm.sys.dao.ChngHstDao.select */ A.CHNG_HST_ID                    /*변경이력코드        */
                    , A.MENU_ID                    /*메뉴코드        */
                    , A.CHNG_CALL_URL                    /*변경호출URL        */
                    , A.CHNG_RSLT_TXN                    /*변경결과내역        */
                    , A.CHNG_PARAM_TXN                    /*변경파라미터내역        */
                    , A.CHNG_CALL_TXN                    /*변경호출내역        */
                    , A.CHNG_CALL_DT                    /*변경호출일시        */
                    , A.CHNG_EXEC_MSEC                    /*변경실행밀리초        */
                    , A.CHNG_CALL_IP_ADDR                    /*변경호출IP주소        */
                    , A.REGR_ID                    /*등록자ID        */
                    , A.REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , A.AMD_DT                    /*수정일시        */
                    , (          WITH RECURSIVE MM AS (
     SELECT 1 AS LEVEL 
          , MENU_NM  MENU_PATH
          , M.MENU_ID
          , M.MENU_NM
          , M.PRNTS_MENU_ID
          , M.MENU_LVL_NO
        FROM tb_sys_menu_bas M
      WHERE MENU_LVL_NO = 2 
     UNION ALL
     SELECT level + 1 AS level 
          , CONCAT( MENU_PATH,'>',M.MENU_NM) MENU_PATH
          , M.MENU_ID
          , M.MENU_NM
          , M.PRNTS_MENU_ID
          , M.MENU_LVL_NO
        FROM MM 
        INNER JOIN tb_sys_menu_bas M ON MM.MENU_ID= M.PRNTS_MENU_ID 
  )
  SELECT MENU_PATH FROM MM
        WHERE MENU_ID = A.MENU_ID ) MENU_PATH
                    , B.MENU_NM
                    , C.USER_ID
                    , C.USER_NM
                    , C.LOGIN_ID
                 FROM TB_SYS_CHNG_HST A
                INNER JOIN TB_SYS_MENU_BAS B ON A.MENU_ID = B.MENU_ID
                INNER JOIN TB_SYS_USER_BAS C ON A.REGR_ID = C.USER_ID
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.wigo.cmm.sys.dao.ChngHstDao.insert */ INTO TB_SYS_CHNG_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       IFNULL(#{chngHsId},FN_CRM_AUTO_SEQ('C'))
                     , #{menuId}
                     , #{chngCallUrl}
                     , #{chngRsltTxn}
                     , #{chngParamTxn}
                     , #{chngCallTxn}
                     , STR_TO_DATE(#{chngCallDt},'%Y%m%d%H%i%s')
                     , #{chngExecMsec}
                     , #{chngCallIpAddr}
                     , #{regrId}
                     , current_timestamp()
                     , #{amdrId}
                     , current_timestamp()
                 )
    </insert>
    <update id="update">
               UPDATE /* com.wigo.cmm.sys.dao.ChngHstDao.update */ TB_SYS_CHNG_HST
                  SET MENU_ID             =         #{menuId}
                    , CHNG_CALL_URL       =         #{chngCallUrl}
                    , CHNG_RSLT_TXN       =         #{chngRsltTxn}
                    , CHNG_PARAM_TXN      =         #{chngParamTxn}
                    , CHNG_CALL_TXN       =         #{chngCallTxn}
                    , CHNG_CALL_DT        =         #{chngCallDt}
                    , CHNG_EXEC_MSEC      =         #{chngExecMsec}
                    , CHNG_CALL_IP_ADDR   =         #{chngCallIpAddr}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         current_timestamp()
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.wigo.cmm.sys.dao.ChngHstDao.delete */ 
                 FROM TB_SYS_CHNG_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
