<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wigo.cmm.sys.dao.GrpMenuHstDao">
    <sql id="sqlPkConditions">
                WHERE GRP_MENU_HST_ID   =       #{grpMenuHstId}
    </sql>
    <sql id="sqlCols">
                      GRP_MENU_HST_ID                    /*그룹메뉴이력코드        */
                    , GRP_ID                    /*그룹코드        */
                    , MENU_ID                    /*메뉴코드        */
                    , DEL_YN                    /*삭제여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
        <where>
        <if test="grpMenuHstId != null and grpMenuHstId != ''">
            <choose>
                <when test="grpMenuHstId instanceof String">
                              AND A.RP_MENU_HST_CD   =       #{grpMenuHstId}
                </when>
                <otherwise>
                    AND A.GRP_MENU_HST_ID   IN
                    <foreach item="item" index="index" collection="grpMenuHstId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="grpId != null and grpId != ''">
            <choose>
                <when test="grpId instanceof String">
                              AND A.GRP_ID            =       #{grpId}
                </when>
                <otherwise>
                    AND A.GRP_ID            IN
                    <foreach item="item" index="index" collection="grpId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="menuId != null and menuId != ''">
            <choose>
                <when test="menuId instanceof String">
                              AND A.MENU_ID           =       #{menuId}
                </when>
                <otherwise>
                    AND A.MENU_ID           IN
                    <foreach item="item" index="index" collection="menuId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="delYn != null and delYn != ''">
                      AND A.DEL_YN            =       #{delYn}
        </if>
        <if test="strtDt != null and strtDt != ''">
                      AND A.REG_DT      >=       STR_TO_DATE(#{strtDt},'%Y%m%d')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND STR_TO_DATE(#{endDt},'%Y%m%d') + 1 > A.REG_DT
        </if>
        <if test="empId != null and empId != ''">
                      AND A.AMDR_ID LIKE  CONCAT(#{empId} , '%')
        </if>
        <if test="menuNmLike != null and menuNmLike != ''">
                      AND C.MENU_NM LIKE CONCAT('%' , #{menuNmLike} , '%')
        </if>
        </where>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /*com.wigo.cmm.sys.dao.GrpMenuHstDao.selectListCount*/ COUNT(1)
                 FROM TB_SYS_GRP_MENU_HST A
                INNER JOIN TB_SYS_GRP_BAS B ON A.GRP_ID = B.GRP_ID
                INNER JOIN TB_SYS_MENU_BAS C ON A.MENU_ID = C.MENU_ID
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.wigo.cmm.sys.model.GrpMenuHstVo">
        <include refid="com.wigo.cmm.sys.dao.CommonDao.pagingHeader"/>
               SELECT /*com.wigo.cmm.sys.dao.GrpMenuHstDao.selectList*/ A.GRP_MENU_HST_ID                    /*그룹메뉴이력코드        */
                    , A.GRP_ID                    /*그룹코드        */
                    , A.MENU_ID                    /*메뉴코드        */
                    , A.DEL_YN                    /*삭제여부        */
                    , A.REGR_ID                    /*등록자ID        */
                    , A.REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , A.AMD_DT                    /*수정일시        */
                    , B.GRP_NM
                    , C.MENU_NM
                    , ( WITH RECURSIVE MM AS (
                 SELECT 1 AS LEVEL 
                      , MENU_NM  MENU_PATH
                      , M.MENU_ID
                      , M.MENU_NM
                      , M.PRNTS_MENU_ID
                      , M.MENU_LVL_NO
                    FROM tb_sys_menu_bas M
                  WHERE MENU_LVL_NO = 2 
                 UNION ALL
                 SELECT level + 1 AS level 
                      , CONCAT( MENU_PATH,'>',M.MENU_NM) MENU_PATH
                      , M.MENU_ID
                      , M.MENU_NM
                      , M.PRNTS_MENU_ID
                      , M.MENU_LVL_NO
                    FROM MM 
                    INNER JOIN tb_sys_menu_bas M ON MM.MENU_ID= M.PRNTS_MENU_ID 
              )
              SELECT MENU_PATH FROM MM
               WHERE MENU_ID = A.MENU_ID ) MENU_PATH
                 FROM TB_SYS_GRP_MENU_HST A
                INNER JOIN TB_SYS_GRP_BAS B ON A.GRP_ID = B.GRP_ID
                INNER JOIN TB_SYS_MENU_BAS C ON A.MENU_ID = C.MENU_ID
        <include refid="sqlConditions"/>
               ORDER BY A.REG_DT DESC
        <include refid="com.wigo.cmm.sys.dao.CommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.wigo.cmm.sys.model.GrpMenuHstVo">
               SELECT /*com.wigo.cmm.sys.dao.GrpMenuHstDao.select*/ <include refid="sqlCols"/>
                 FROM TB_SYS_GRP_MENU_HST
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert" >
                INSERT /*com.wigo.cmm.sys.dao.GrpMenuHstDao.insert*/ INTO TB_SYS_GRP_MENU_HST (
                      GRP_ID                    /*그룹코드        */
                    , MENU_ID                    /*메뉴코드        */
                    , DEL_YN                    /*삭제여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                 ) VALUES (
                       #{grpId}
                     , #{menuId}
                     , 'N'
                     , #{regrId}
                     , CURRENT_TIMESTAMP()
                     , #{amdrId}
                     , CURRENT_TIMESTAMP()
                 )
    </insert>
    <insert id="insertDelete" >
                INSERT /*com.wigo.cmm.sys.dao.GrpMenuHstDao.insertDelete*/ INTO TB_SYS_GRP_MENU_HST (
                      GRP_ID                    /*그룹코드        */
                    , MENU_ID                    /*메뉴코드        */
                    , DEL_YN                    /*삭제여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                 ) VALUES (
                       #{grpId}
                     , #{menuId}
                     , 'Y'
                     , #{regrId}
                     , CURRENT_TIMESTAMP()
                     , #{amdrId}
                     , CURRENT_TIMESTAMP()
                 )
    </insert>
    <update id="update">
               UPDATE /*com.wigo.cmm.sys.dao.GrpMenuHstDao.update*/ TB_SYS_GRP_MENU_HST
                  SET GRP_ID              =         #{grpId}
                    , MENU_ID             =         #{menuId}
                    , DEL_YN              =         #{delYn}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         CURRENT_TIMESTAMP()
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /*com.wigo.cmm.sys.dao.GrpMenuHstDao.delete*/  
                 FROM TB_SYS_GRP_MENU_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
