<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wigo.cmm.sys.dao.NtcartBasDao">
    <sql id="sqlPkConditions">
                WHERE NTCART_ID         =       #{ntcartId}
    </sql>
    <sql id="sqlCols">
                      NTCART_ID                    /*게시물ID        */
                    , BRD_ID                    /*게시판ID        */
                    , UP_NTCART_ID                    /*상위게시물ID        */
                    , TOP_NTCART_ID                    /*최상위게시물ID        */
                    , NTCART_NM                    /*게시물명        */
                    , NTCART_CTNTS                    /*게시물내용        */
                    , ANSWER_CTNTS                    /*답변내용        */
                    , NOTE_STATUS_CD                    /*공지상태코드        */
                    , POST_STATUS_CD                    /*게시상태코드        */
                    , NOTE_YN                    /*공지여부        */
                    , POST_STA_DT                    /*게시시작일시        */
                    , POST_END_DT                    /*게시종료일시        */
                    , NOTE_STA_DT                    /*공지시작일시        */
                    , NOTE_END_DT                    /*공지종료일시        */
                    , FILE_ID                    /*파일코드        */
                    , NTCART_PWD                    /*게시물비밀번호        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="ntcartId != null and ntcartId != ''">
                      AND NTCART_ID         =       #{ntcartId}
        </if>
        <if test="brdId != null and brdId != ''">
                      AND BRD_ID            =       #{brdId}
        </if>
        <if test="upNtcartId != null and upNtcartId != ''">
                      AND UP_NTCART_ID      =       #{upNtcartId}
        </if>
        <if test="topNtcartId != null and topNtcartId != ''">
                      AND TOP_NTCART_ID     =       #{topNtcartId}
        </if>
        <if test="ntcartNm != null and ntcartNm != ''">
                      AND NTCART_NM         =       #{ntcartNm}
        </if>
        <if test="ntcartCtnts != null and ntcartCtnts != ''">
                      AND NTCART_CTNTS      =       #{ntcartCtnts}
        </if>
        <if test="answerCtnts != null and answerCtnts != ''">
                      AND ANSWER_CTNTS      =       #{answerCtnts}
        </if>
        <if test="noteStatusCd != null and noteStatusCd != ''">
            <choose>
                <when test="noteStatusCd instanceof String">
                              AND NOTE_STATUS_CD    =       #{noteStatusCd}
                </when>
                <otherwise>
                    AND NOTE_STATUS_CD    IN
                    <foreach item="item" index="index" collection="noteStatusCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="postStatusCd != null and postStatusCd != ''">
            <choose>
                <when test="postStatusCd instanceof String">
                              AND POST_STATUS_CD    =       #{postStatusCd}
                </when>
                <otherwise>
                    AND POST_STATUS_CD    IN
                    <foreach item="item" index="index" collection="postStatusCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="noteYn != null and noteYn != ''">
                      AND NOTE_YN           =       #{noteYn}
        </if>
        <if test="postStaDt != null and postStaDt != ''">
                      AND POST_STA_DT       =       #{postStaDt}
        </if>
        <if test="postEndDt != null and postEndDt != ''">
                      AND POST_END_DT       =       #{postEndDt}
        </if>
        <if test="noteStaDt != null and noteStaDt != ''">
                      AND NOTE_STA_DT       =       #{noteStaDt}
        </if>
        <if test="noteEndDt != null and noteEndDt != ''">
                      AND NOTE_END_DT       =       #{noteEndDt}
        </if>
        <if test="fileId != null and fileId != ''">
            <choose>
                <when test="fileId instanceof String">
                              AND FILE_ID           =       #{fileId}
                </when>
                <otherwise>
                    AND FILE_ID           IN
                    <foreach item="item" index="index" collection="fileId" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="ntcartPwd != null and ntcartPwd != ''">
                      AND NTCART_PWD        =       #{ntcartPwd}
        </if>
        <if test="dashboard != null and dashboard != ''">
                      AND TRIM(current_timestamp()) BETWEEN  IFNULL(POST_STA_DT,STR_TO_DATE('19000101','%Y%m%d')) AND IFNULL(POST_END_DT,STR_TO_DATE('99991231','%Y%m%d'))
        </if>
        
        </where>
<!--          DBMS_LOB.INSTR(찾을컬럼이름, '찾을문자열') > 0 -->
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /*com.wigo.cmm.sys.dao.NtcartBasDao.selectListCount*/ COUNT(1)
                 FROM TB_SYS_NTCART_BAS
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.wigo.cmm.sys.model.NtcartBasVo">
        <include refid="com.wigo.cmm.sys.dao.CommonDao.pagingHeader"/>
               SELECT /*com.wigo.cmm.sys.dao.NtcartBasDao.selectList*/ NTCART_ID                    /*게시물ID        */
                    , BRD_ID                    /*게시판ID        */
                    , UP_NTCART_ID                    /*상위게시물ID        */
                    , TOP_NTCART_ID                    /*최상위게시물ID        */
                    , NTCART_NM                    /*게시물명        */
                    , NTCART_CTNTS                    /*게시물내용        */
                    , ANSWER_CTNTS                    /*답변내용        */
                    , NOTE_STATUS_CD                    /*공지상태코드        */
                    , POST_STATUS_CD                    /*게시상태코드        */
                    , IFNULL(NOTE_YN,'N') NOTE_YN                    /*공지여부        */
                    , /*DATE_FORMAT(POST_STA_DT,'%Y%m%d')*/       POST_STA_DT             /*게시시작일시        */
                    , /*DATE_FORMAT(POST_END_DT,'%Y%m%d')*/       POST_END_DT              /*게시종료일시        */
                    , /*DATE_FORMAT(NOTE_STA_DT,'%Y%m%d')*/       NOTE_STA_DT              /*공지시작일시        */
                    , /*DATE_FORMAT(NOTE_END_DT,'%Y%m%d')*/       NOTE_END_DT              /*공지종료일시        */
                    , FILE_ID                    /*파일코드        */
                    , NTCART_PWD                    /*게시물비밀번호        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , (SELECT COUNT(1) FROM TB_SYS_FILE_BAS WHERE FILE_ID = IFNULL(A.FILE_ID,A.NTCART_ID) ) FILE_CNT
                 FROM TB_SYS_NTCART_BAS A
        <include refid="sqlConditions"/>
               ORDER BY CASE WHEN TRIM(current_timestamp()) BETWEEN  IFNULL(POST_STA_DT,STR_TO_DATE('19000101','%Y%m%d')) AND IFNULL(POST_END_DT,STR_TO_DATE('99991231','%Y%m%d')) THEN IFNULL(NOTE_YN,'N') ELSE  'A' END DESC
                     , IFNULL(POST_END_DT,STR_TO_DATE('99991231','%Y%m%d')) DESC
                     , IFNULL(POST_STA_DT,STR_TO_DATE('19000101','%Y%m%d')) 
                     , REG_DT DESC
        <include refid="com.wigo.cmm.sys.dao.CommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.wigo.cmm.sys.model.NtcartBasVo">
               SELECT /*com.wigo.cmm.sys.dao.NtcartBasDao.select*/ NTCART_ID                    /*게시물ID        */
                    , BRD_ID                    /*게시판ID        */
                    , UP_NTCART_ID                    /*상위게시물ID        */
                    , TOP_NTCART_ID                    /*최상위게시물ID        */
                    , NTCART_NM                    /*게시물명        */
                    , NTCART_CTNTS                    /*게시물내용        */
                    , ANSWER_CTNTS                    /*답변내용        */
                    , NOTE_STATUS_CD                    /*공지상태코드        */
                    , POST_STATUS_CD                    /*게시상태코드        */
                    , IFNULL(NOTE_YN,'N') NOTE_YN                    /*공지여부        */
                    , DATE_FORMAT(POST_STA_DT,'%Y%m%d') POST_STA_DT                    /*게시시작일시        */
                    , DATE_FORMAT(POST_END_DT,'%Y%m%d') POST_END_DT                    /*게시종료일시        */
                    , DATE_FORMAT(NOTE_STA_DT,'%Y%m%d') NOTE_STA_DT                    /*공지시작일시        */
                    , DATE_FORMAT(NOTE_END_DT,'%Y%m%d') NOTE_END_DT                    /*공지종료일시        */
                    , FILE_ID                    /*파일코드        */
                    , NTCART_PWD                    /*게시물비밀번호        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                 FROM TB_SYS_NTCART_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /*com.wigo.cmm.sys.dao.NtcartBasDao.insert*/ INTO TB_SYS_NTCART_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{ntcartId}
                     , #{brdId}
                     , #{upNtcartId}
                     , #{topNtcartId}
                     , #{ntcartNm}
                     , #{ntcartCtnts}
                     , #{answerCtnts}
                     , #{noteStatusCd}
                     , #{postStatusCd}
                     , IFNULL(#{noteYn},'N')
                     , CASE WHEN #{postStaDt} IS NULL THEN NULL ELSE STR_TO_DATE(SUBSTR(CONCAT(#{postStaDt} , '000000'),1,14) ,'%Y%m%d%H%i%s') END
                     , CASE WHEN #{postEndDt} IS NULL THEN NULL ELSE STR_TO_DATE(SUBSTR(CONCAT(#{postEndDt} , '235959'),1,14) ,'%Y%m%d%H%i%s') END
                     , CASE WHEN #{noteStaDt} IS NULL THEN NULL ELSE STR_TO_DATE(SUBSTR(CONCAT(#{noteStaDt} , '000000'),1,14) ,'%Y%m%d%H%i%s') END
                     , CASE WHEN #{noteEndDt} IS NULL THEN NULL ELSE STR_TO_DATE(SUBSTR(CONCAT(#{noteEndDt} , '235959'),1,14) ,'%Y%m%d%H%i%s') END
                     , IFNULL(#{fileId},#{ntcartId})
                     , #{ntcartPwd}
                     , #{regrId}
                     , current_timestamp()
                     , #{amdrId}
                     , current_timestamp()
                 )
    </insert>
    <update id="update">
               UPDATE /*com.wigo.cmm.sys.dao.NtcartBasDao.update*/ TB_SYS_NTCART_BAS
                  SET BRD_ID              =         #{brdId}
                    , UP_NTCART_ID        =         #{upNtcartId}
                    , TOP_NTCART_ID       =         #{topNtcartId}
                    , NTCART_NM           =         #{ntcartNm}
                    , NTCART_CTNTS        =         #{ntcartCtnts}
                    , ANSWER_CTNTS        =         #{answerCtnts}
                    , NOTE_STATUS_CD      =         #{noteStatusCd}
                    , POST_STATUS_CD      =         #{postStatusCd}
                    , NOTE_YN             =         #{noteYn}
                    , POST_STA_DT         =         CASE WHEN #{postStaDt} IS NULL THEN NULL ELSE STR_TO_DATE(SUBSTR(CONCAT(#{postStaDt} , '000000'),1,14) ,'%Y%m%d%H%i%s') END
                    , POST_END_DT         =         CASE WHEN #{postEndDt} IS NULL THEN NULL ELSE STR_TO_DATE(SUBSTR(CONCAT(#{postEndDt} , '235959'),1,14) ,'%Y%m%d%H%i%s') END
                    , NOTE_STA_DT         =         CASE WHEN #{noteStaDt} IS NULL THEN NULL ELSE STR_TO_DATE(SUBSTR(CONCAT(#{noteStaDt} , '000000'),1,14) ,'%Y%m%d%H%i%s') END
                    , NOTE_END_DT         =         CASE WHEN #{noteEndDt} IS NULL THEN NULL ELSE STR_TO_DATE(SUBSTR(CONCAT(#{noteEndDt} , '235959'),1,14) ,'%Y%m%d%H%i%s') END
<!--                     , FILE_ID             =         #{fileId} -->
                    , NTCART_PWD          =         #{ntcartPwd}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         current_timestamp()
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /*com.wigo.cmm.sys.dao.NtcartBasDao.delete*/
                 FROM TB_SYS_NTCART_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
